 /*Side-Menu Toggle Styles: http://ironsummitmedia.github.io/startbootstrap-simple-sidebar*/
.completed {
  text-decoration: line-through !important;
  color: gray !important;
}

.add-task-tab-input {
  margin-left: -15px;
}

.tab-content {
  border-top: transparent;
  border-radius: 0px;
  padding: 20px;
}


/* **********TESTTING DRAG AND DROP ********** */
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
  position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

/* **********TESTTING DRAG AND DROP ********** */

#wrapper {
  padding-left: 250px;

  #sidebar-wrapper {
    padding-top: 10px;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: black;
    padding-bottom: 50px;
  }

  #page-content-wrapper {
    width: 100%;
    padding: 20px;
    position: relative;

    #content-event {
      margin-top: 53px;
      margin-bottom: 40px;
    }
  }

  /* Sidebar Styles */
  .sidebar-nav {
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 50px;

    li {
      text-indent: 20px;
      line-height: 40px;

      a {
        display: block;
        text-decoration: none;
        color: #999999;
      }
    }

    li a:hover {
      text-decoration: none;
      color: #fff;
      background: rgba(255,255,255,0.2);

      a:active,
      a:focus {
        text-decoration: none;
      }
    }

    li > span > button {
      margin-top: -31px;
      margin-right: 8px;
    }

    .sidebar-brand {
      height: 65px;
      font-size: 18px;
      line-height: 60px;

      a {
        color: #999999;
      }

      a:hover {
        color: #fff;
        background: none;
      }
    }

  }
}
