 /*Side-Menu Toggle Styles: http://ironsummitmedia.github.io/startbootstrap-simple-sidebar*/
.completed {
  text-decoration: line-through !important;
  color: gray !important;
}

.add-task-tab-input {
  margin-left: -15px;
}

.add-location-tab-input {
  margin-left: 14px;
}

/* top border around each tab removed*/
.tab-content {
  border-top: transparent;
  border-radius: 0px;
  padding: 20px;
}

.vote-icons-down {
  color: teal;;
  margin-right: 5px;
}

.vote-icons-up {
  color: lightseagreen;
  margin-right: 5px;
}

#wrapper {
  padding-left: 250px;

  #sidebar-wrapper {
    padding-top: 10px;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: black;
    padding-bottom: 50px;
  }

  #page-content-wrapper {
    width: 100%;
    padding: 20px;
    position: relative;

    #content-event {
      margin-top: 53px;
      margin-bottom: 40px;
    }
  }

  /* Sidebar Styles */
  .sidebar-nav {
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 50px;

    li {
      text-indent: 20px;
      line-height: 40px;

      a {
        display: block;
        text-decoration: none;
        color: #999999;
      }
    }

    li a:hover {
      text-decoration: none;
      color: #fff;
      background: rgba(255,255,255,0.2);

      a:active,
      a:focus {
        text-decoration: none;
      }
    }

    li > span > button {
      margin-top: -31px;
      margin-right: 8px;
    }

    .sidebar-brand {
      height: 65px;
      font-size: 18px;
      line-height: 60px;

      a {
        color: #999999;
      }

      a:hover {
        color: #fff;
        background: none;
      }
    }

  }
}
