<div class="col-mid-8">

  <h1>
    {{selectedEvent.title}} <strong>in Friend tab </strong>
  </h1>

  <div class="col-lg-4 pull-right">
    <h3>Invite Users</h3>
    <form class="input-group">
      <input type="text"
             class="form-control"
             placeholder="In progress... my apologies"
             name="newTask[title]"
             disabled>
      <span class="input-group-btn">
      <button class="btn btn-primary" type="submit" disabled>Invite</button>
      </span>
    </form><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

  <div class="panel panel-info">
    <div class="panel-body">
      <table class="table table-stripped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="friend in allFriends">
            <td> {{ friend.nickname }}</td>
            <td> {{ friend.email}} </td>
            <td> {{ user_status(user) }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
