<div id="wrapper">

  <!-- Populate Events List -->
  <event-list></event-list>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">

        <!-- http://vitalets.github.io/angular-xeditable/#onbeforesave -->
      <div>
        <h1>You are in Current event:
          <a href="#"
             onbeforesave="updateEvent($data)"
             editable-text="selectedEvent.title"
             name="event[title]">{{ selectedEvent.title}}</a>
        </h1>


      </div>

      <br>

      <!-- Content per Event -->
      <div class="row">
        <div class="col-lg-12" ng-init="tab = 1">
          <!-- Tab Navigation per Event -->
          <ul class="nav nav-tabs">
            <li ng-class="{active:tab === 1}">
              <a data-toggle="tab" ng-click="tab = 1">Add Friend</a>
            </li>
            <li ng-class="{active:tab === 2}">
              <a data-toggle="tab" ng-click="tab = 2">To Do List</a>
            </li>
            <li ng-class="{active:tab === 3}">
              <a data-toggle="tab" ng-click="tab = 3">Completed List</a>
            </li>
          </ul>

          <!-- Content per tab in specified event -->

          <!-- Add Friend Tab -->
          <div class="tab-content" ng-show="tab === 1">
            <h1>
              {{selectedEvent.title}} <strong>in Friend tab </strong>
            <h1>
          </div>

          <!-- To do Tab == 2-->
          <to-do-tab></to-do-tab>

          <!-- Completed List tab -->
          <div class="tab-content" ng-show="tab === 3">
            <h1>
              {{selectedEvent.title}} <strong>in Completed tab </strong>
            </h1>
          </div>

        </div>
      </div>

    </div><!-- container-fluid -->
  </div><!-- page-content-wrapper -->

</div><!-- wrapper -->
