<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <div>
      <div class="col-lg-12">
        <form class="input-group" ng-submit="addEvent()">
          <input type="text"
                 class="form-control"
                 placeholder="Add Event"
                 ng-model="newEvent.title"
                 name="event[title]">
          <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Add!</button>
          </span>
        </form><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <li>
      <a><strong ng-bind="newEvent.title"></strong></a>
    </li>
    <li ng-repeat="event in allEvents | orderBy:'title'">
      <a ng-click="selectEvent(event.id)"><strong>{{event.title}}</strong></a>
      <span><button class="btn btn-danger btn-xs pull-right" ng-click="deleteEvent(event)">X</button></span>
    </li>
  </ul>
</div>
