<div id="wrapper">

  <!-- Populate Events List -->
  <event-list></event-list>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">

      <h1> Welcome {{ user.email }} </h1>
      <hr>
      <h3>In Vote Yo List, you can: </h3>


      <div class="container">
        <div class="row">
            <div class="col-md-6">
              <div class="list-group">
                <a class="list-group-item fire-icon">
                  <h3 class="pull-right">
                    <i class="icon glyphicon glyphicon-fire"></i>
                  </h3>
                  <h4 class="list-group-item-heading count">Add an Event</h4>
                  <p>A Barbecue party or a Beach Party or even Watching Star Wars with friends. </p>
                </a>
                <a class="list-group-item check-icon">
                  <h3 class="pull-right">
                    <i class="icon glyphicon glyphicon-check"></i>
                  </h3>
                  <h4 class="list-group-item-heading count">
                    Have a Checklist</h4>
                  <p> Make a to-do/check list for your event.</p>
                </a>
                <a class="list-group-item vote-icon">
                  <h3 class="pull-right">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                  </h3>
                  <h4 class="list-group-item-heading count">
                      Vote for a Location</h4>
                  <p> Have a place where you and your friends can vote for a locatiion. </p>
                </a>
              </div>
            </div>

          </div>
      </div>

    </div><!-- container-fluid -->
  </div><!-- page-content-wrapper -->

</div><!-- wrapper -->

