<div class="tab-content" ng-show="tab === 2" ng-click='getId(selectedEvent.id)'>
  <br>
  <div class="col-lg-6">
    <form class="input-group" ng-submit="addTask()">
      <input type="text"
             class="form-control"
             placeholder="Add Task in Event: '{{ selectedEvent.title }}'"
             ng-model="newTask.title"
             name="newTask[title]">
      <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Add Task!</button>
      </span>
    </form><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

  <br>
  <br>

  <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <th></th>
      <th>
        <a href="" ng-click="sortField ='title'; reverse = !reverse">Title</a>
      </th>
      <th>
        <a href="" ng-click="sortField ='description'; reverse = !reverse">Description
      </th>
      <th style="width:20%">
        <a href="" ng-click="sortField ='description'; reverse = !reverse">Created on
      </th>
      <th style="width:20%">
        <a href="" ng-click="sortField ='description'; reverse = !reverse">Updated on
      </th>
      <th style="width:5%">Delete</th>
    </tr>

    <tr ng-repeat="task in allTasks | filter:query | orderBy:sortField:reverse">
      <td>
        <input class="checkbox" type="checkbox" ng-model="task.done" id="todo-{{$index}}">
      </td>
      <td>
        <a href="#"
          onbeforesave="updateTask(task.id, $data)"
          editable-textarea="task.title"
          name="task[title]">{{ task.title || 'empty'}}</a>
        </span>
      </td>
      <td>
        <a href="#"
          onbeforesave="updateTaskDescrip(task.id, $data)"
          editable-textarea="task.description"
          name="task[description]">{{ task.description || 'empty'}}</a>
      </td>
      <td>
        {{ task.created_at | date:'medium'}}
      </td>
      <td>
        {{ task.updated_at | date:'medium'}}
      </td>
      <td>
        <button class="btn btn-danger"ng-click="deleteTask(task.id)">del</button>
      </td>
    </tr>
  </table>

</div>
