<br>
<div class="col-lg-6">
  <form class="input-group" ng-submit="addTask()">
    <input type="text"
           class="form-control"
           placeholder="Add Task in Event: '{{ selectedEvent.title }}'"
           ng-model="newTask.title"
           name="newTask[title]">
    <span class="input-group-btn">
    <button class="btn btn-default" type="submit">Add Task!</button>
    </span>
  </form><!-- /input-group -->
</div><!-- /.col-lg-6 -->

<!-- Search:<input ng-model="query" type="text"/> -->

<br>
<br>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <!-- table header -->
      <th></th> <!-- No header for checkbox-->
      <th>
        <a href="" ng-click="sortField ='title'; reverse = !reverse">Title</a>
      </th>
      <th>
        <a href="" ng-click="sortField ='description'; reverse = !reverse">Description
      </th>
      <th style="width:20%">
        <a href="" ng-click="sortField ='due_on'; reverse = !reverse">Due on
      </th>
      <th style="width:5%">Delete</th>
    </tr>
  </thead>
    <!-- table content -->
  <tbody>
    <tr ng-repeat="task in remainingTasks() | filter:query | orderBy:sortField:reverse">
      <td>
        <input class="checkbox"
               type="checkbox"
               ng-model="task.completed"
               ng-change="updateTaskCompleted(task, task.id)">
      </td>
      <td>
        <a href="#"
          onbeforesave="updateTask(task.id, $data)"
          editable-textarea="task.title"
          name="task[title]"
          ng-class="{completed: task.completed}"
          e-required
          e-style="color: green">{{ (task.title || 'empty') | uppercase}}</a>
        <p>created on: {{ task.created_at | date:'medium' }} </p>
        <p>from {{ user.email }} </p>
        </span>
      </td>
      <td>
        <a href="#"
          onbeforesave="updateTaskDescrip(task.id, $data)"
          editable-textarea="task.description"
          name="task[description]"
          e-style="color: green">{{ task.description || 'empty'}}</a>
      </td>
      <td>
      <!-- https://github.com/720kb/angular-datepicker#angular-datepicker -->
      <datepicker date-format="yyyy-MM-dd" selector="form-control" class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon"
                  style="cursor: pointer">
              <i class="fa fa-lg fa-calendar"></i>
            </span>
            <input class="form-control"
                   placeholder="{{ task.due_date }}"
                   ng-model="task.due_date"
                   ng-change="updateTasktDate(task)"
                   style="width:120px;"
                   />
      </datepicker>

      </td>
      <td>
        <button class="btn btn-danger"ng-click="deleteTask(task.id)">del</button>
      </td>
    </tr>
  </tbody>
</table>
