<footer class="navbar navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow bounceIn footer-format" data-wow-offset="50" data-wow-delay="0.3s">
        <p> Made by Toni Anne Romero at General Assembly HK
          <a class="icon-format" target="_blank" href="https://github.com/tonianner">
            <i class="fa fa-github icon-format"></i>
          </a>
          <a class="icon-format" target="_blank" href="https://hk.linkedin.com/pub/toni-anne-romero/b4/67/1b3">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
