<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Logo</a>
    </div>
    <div class="collapse navbar-collapse single-page-nav">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#features">FEATURES</a></li>

        <li><a href="#about">ABOUT</a></li>

        <li><a href="/#/signup">Register</a></li>

        <li><a href="/#/login">Login</a></li>

        <li><a href='#' ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
