<h3>Completed list</h3>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <!-- table header -->
      <th></th> <!-- No header for checkbox-->
      <th>
        <a href="" ng-click="sortField ='title'; reverse = !reverse">Title</a>
      </th>
      <th>
        <a href="" ng-click="sortField ='description'; reverse = !reverse">Description</a>
      </th>
      <th>
        <a href="" ng-click="sortField ='updated_at'; reverse = !reverse">Completed on</a>
      </th>
      </th>
      <th style="width:5%">Delete</th>
    </tr>
  </thead>

  <tbody>
    <!-- table content -->
    <tr ng-repeat="task in completedTasks() | filter:query | orderBy:sortField:reverse:updated_on">
      <td>
        <input class="checkbox"
               type="checkbox"
               ng-model="task.completed"
               ng-change="updateTaskCompleted(task, task.id)">
      </td>
      <td>
        <p ng-class="{completed: task.completed}">{{ task.title }}</p>
        </span>
      </td>
      <td>
        <a href="#"
          onbeforesave="updateTaskDescrip(task.id, $data)"
          editable-textarea="task.description"
          name="task[description]"
          e-style="color: red">
          <pre>{{ task.description || 'no description yet'}}</pre>
        </a>
        <p>created on: <strong>{{ task.created_at | date:'EEE, MMM d, h:mm a"' }}</strong> from {{ user.email }} </p>
      </td>
      <td>
        <p>{{ task.updated_at | date:'EEE, MMM d, h:mm a' }}</p>
      </td>
      <td>
        <button class="btn btn-danger"ng-click="deleteTask(task.id)">del</button>
      </td>
    </tr>
  </tbody>
</table>
