<p ng-style="{'background-color': '#' + a }">{{clock |date : 'HH:mm:ss'}}</p>
{{a}}


<!-- Original -->
<div class="col-lg-6 add-task-tab-input">
  <form class="input-group" ng-submit="addTask()">
    <input type="text"
           class="form-control"
           placeholder="Add Task in Event: '{{ selectedEvent.title }}'"
           ng-model="newTask.title"
           name="newTask[title]"
           style="color: #3F51B5;">
    <span class="input-group-btn">
    <button class="btn btn-primary" type="submit">Add Task!</button>
    </span>
  </form>
</div>
<br>
<br>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <!-- table header -->
      <th><i style="color: #337ab7;" class="fa fa-check-square-o"></i></th>
      <th>
        <a href="" ng-click="sortField ='title'; reverse = !reverse">Title</a>
      </th>
      <th style="width:50%">
        <a href="" ng-click="sortField ='description'; reverse = !reverse">Description
      </th>
      <th style="width:5%">
        <a href="" ng-click="sortField ='due_on'; reverse = !reverse">Due on
      </th>
      <th style="width:5%">Delete</th>
    </tr>
  </thead>
  <!-- table content -->
  <tbody ui-sortable="sortableOptions">
    <tr ng-repeat="task in remainingTasks() | filter:query | orderBy:sortField:reverse" style="padding:5px 10px; cursor: move;">
      <td>
        <input class="checkbox"
               type="checkbox"
               ng-model="task.completed"
               ng-change="updateTaskCompleted(task, task.id)">
      </td>
      <td>
        <a href="#"
          onbeforesave="updateTask(task.id, $data)"
          editable-textarea="task.title"
          name="task[title]"
          ng-class="{completed: task.completed}"
          e-required
          e-style="color: blue">{{ (task.title || 'empty') | uppercase}}</a>
        </span>
      </td>
      <td>
        <a href="#"
          onbeforesave="updateTaskDescrip(task.id, $data)"
          editable-textarea="task.description"
          e-rows="3"
          e-cols="40"
          name="task[description]"
          e-style="color: green">
          <pre>{{ task.description || 'no description'}}</pre>
          <p>created on: <strong>{{ task.created_at | date:'EEE, MMM d, h:mm a"' }}</strong> from {{ user.email }} </p>
        </a>
      </td>
      <td>
      <!-- https://github.com/720kb/angular-datepicker#angular-datepicker -->
      <datepicker date-format="yyyy-MM-dd" selector="form-control" class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon"
                  style="cursor: pointer">
              <i class="fa fa-lg fa-calendar"></i>
            </span>
            <input class="form-control"
                   placeholder="{{ task.due_date }}"
                   ng-model="task.due_date"
                   ng-change="updateTasktDate(task)"
                   style="width:120px;"
                   />
      </datepicker>

      </td>
      <td>
        <button class="btn btn-danger"ng-click="deleteTask(task.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

